.field{
  width: 270px;
  padding-bottom: 20px;
}

.colour-border{
  border: 10px solid rgb(12, 189, 71);
  padding: 10px;
  background-color: rgba(199, 211, 173, 0.493);
}

.header{
  padding: 10px;
}